@import "@/styles/variables"

.table
    max-width: 1050px
    background-color: white
    width: 70%
    box-shadow: none

    .row
        border-bottom: 2px solid rgba($border-shadow-color, 0.2)
        text-align: center

    .first_row

        border-bottom: 2px solid rgba($border-shadow-color, 0.2)

        .img
            display: flex
            align-items: center
            gap: 30px

            img
                width: 99px

@media (max-width: 1060px)
    .table
        width: 100%
