.grid
    margin-top: 50px
    display: grid
    grid-template-columns: repeat(auto-fill, 315px)
    grid-gap: 1rem
    justify-content: space-between

@media (min-width: 3110px)
    .grid
        justify-content: space-around
        grid-template-columns: repeat(auto-fit, 315px)

@media (max-width: 1116px)
    .grid
        justify-content: space-around

@media (max-width: 576px)
    .grid
        gap: 40px
        margin-top: 0px
        justify-items: center
