@import "@/styles/variables"

.box
    padding: 10px
    box-shadow: 0px 0px 5px 1px rgba($border-shadow-color, 0.2)
    background: $white-color

    img
        height: 350px
        object-position: 0px 63%
        object-fit: cover
        width: 100%

@media (max-width: 1256px)
    .box img
        height: 250px

@media (max-width: 992px)
    .box img
        height: 200px

@media (max-width: 576px)
    .box
        display: none
